@import url("./global/reset.css");
@import url("./global/colors.css");
@import url("./global/utils.css");

.container {
  margin-top: 5rem;
  display: flex;
}

.message-thanks {
  color: green;
  text-align: center;
}
