.asaide__container {
  position: fixed;
  width: 220px;
}

.list-categories {
  text-transform: uppercase;
  cursor: pointer;
  /* padding-bottom: 1rem; */
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.list-categories:hover {
  background-color: var(--gray-200);
}

.selected {
  background-color: gray;
  color: white;
}
