.div__main {
  margin-left: 220px;
  width: 100%;
  margin-bottom: 30px;
}
.cards__container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem;
  height: calc(100vh - 5.625rem);
}

.card,
.card-sale {
  width: 300px;
  box-shadow: 2px 2px 10px 3px var(--gray-100);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.card__image {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.card__description {
  border-top: 2px solid var(--gray-100);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 20px;
  padding-bottom: 20px;
}

.card__name,
.card-sale__title {
  color: var(--gray-300);
  font-weight: bold;
  text-transform: uppercase;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__price {
  align-self: flex-start;
  font-weight: bold;
}

.card__discount {
  color: red;
}

.card__icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.card__icon:hover {
  transform: scale(1.1, 1.1);
}

.card-sale {
  margin-top: 2rem;
  gap: 1rem;
  width: 100%;
}

.card-sale__name {
  text-transform: lowercase;
}
.card-sale__disscount {
  color: red;
}
.card-sale__total {
  color: green;
}
.card-sale__lists {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  background-color: var(--primary-300);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
