.search-tool,
.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #363a40;
  width: 100%;
  position: fixed;
  top: 0;
}

.app-name,
.name-page {
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
}

.icon-cart,
.icon-back {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.icon-cart:hover,
.icon-back:hover {
  transform: scale(1.1, 1.1);
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
