.input {
  border-radius: 0.8rem;
  background-color: #4a4e53;
  outline: none;
  color: white;
}

.input-selected {
  text-transform: capitalize;
  margin: 1rem 1rem;
  margin-right: 300px;
  position: fixed;
}
